#This snippet places into your .htaccess file either in /var/www/httpd, /var/www/httpd_docroot or /home/your username/public_html
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}